img{
    width: 100%;
}

ul{
    list-style: none;
    padding-left: 0;
}

/* stilos componente general el padre APP*/
body {
    background-color: #222;
  }
  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #9370DB;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #1abc9c;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #FF00FF;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }

h1,h2,h3,p{
    margin: 0;
    padding: 0 0;
    color: #fff;
}

/* componente Isloading */
.container{
    background-color: lihtslategray;
    /* margin: 0; */
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divConverter{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.text-center{
    text-align: center;
}

.divisLoading{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.divBoton{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

.slide_from_left{

}

/* componente weather */
.card-weather{
    background-color: #1abc9c;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    min-height: 350px;
    padding: 1em;
    margin: 50px;
    border-radius: 20px;
}

.card-weather--title{
    /* font-size: 2rem; */
}

span{
    color: #2c3e50;
}

.card-weather--description{
    padding: 10px;
}

.card-weather__body{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4)white;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.4) ;
}

.card-weather__body--left {
    padding-bottom:0;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    position: relative;
}
.card-weather__body--left h3{
    padding-top:0;
    position: absolute;
    top:4.2em;
    color: white;
}
.card-weather__body--right{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    padding-bottom: 0.5em;
}
span{
    color: #2c3e50;
    /* color: black; */
}


.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  /* button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
   */
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  
.divContainer{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

  
